body {
    background-color: #eee;
}

.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1500px);
    animation: autoRun 10s linear infinite;
}

.banner .slider2{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 15%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1500px);
    animation: autoRun 10s linear infinite;
}

@keyframes autoRun{
    0% {
        transform: perspective(1000px) rotateX(-20deg) rotateY(120deg); 
    } 50% { 
        transform: perspective(1000px) rotateX(-20deg) rotateY(-60deg);
    } 100% {
        transform: perspective(1000px) rotateX(-20deg) rotateY(-240deg);      
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--qty)) * 1.5deg ))
        translateZ(150px);
    margin-top: 120px;
    font-size: 24px;
    text-shadow:
    .1px .1px .2px black,
    0 0 .05em black,
    0 0 0.05em black;
}
.banner .slider2 .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--qty)) * 1.5deg ))
        translateZ(150px);
    margin-top: 120px;
    opacity: .4;
    font-size: 24px;
    text-shadow:
    .1px .1px .2px black,
    0 0 .1em black,
    0 0 0.2em black;
}

.banner .sliderBG{
    position: absolute;
    width: 300px;
    height: 125px;
    top: 70px;
    left: calc(50% - 150px);
    background-color: transparent;
    backdrop-filter: blur(3px);
    /* animation: autoRun 25s linear infinite; */
}




img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    border: solid 3px #555;
}